*.mp4
*.avi
*.mov
*.wmv

videos/

*.py[cod]
__pycache__/
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

*.h5
*.hdf5
*.pkl
*.model
*.pth
*.pt
events.out.tfevents.*
*.code-workspace

*.json
*.csv
*.xlsx
*.xls

.env
.venv
venv/
ENV/
.idea/
.vscode/

demos/
runs/
pretrained/
wandb/

wandb_config.yaml
!assets/
!assets/**
oracle_checkpoints/*
data/*
.nfs*
*.zip
secret.txt
download_assets.sh
keep_going.sh
upload.ipynb